<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layout/head.ejs") %>
    <%- include("script.ejs") %>
  </head>
  <body class="bg-body text-white">
    <%- include("../layout/header.ejs") %>
    <%- include("elections.ejs") %>

    <div><canvas id="acquisitions"></canvas></div>
    <script>
        const data = [
          { year: 2010, count: 10 },
          { year: 2011, count: 20 },
          { year: 2012, count: 15 },
          { year: 2013, count: 25 },
          { year: 2014, count: 22 },
          { year: 2015, count: 30 },
          { year: 2016, count: 28 },
        ];
      
        let massPopChart = new Chart(
          document.getElementById('acquisitions'),
          {
            type: 'bar',
            data: {
              labels: data.map(row => row.year),
              datasets: [
                {
                  label: 'Acquisitions by year',
                  data: data.map(row => row.count)
                }
              ],
              backgroundColor: "green"
            },
            options: {}
          }
        );
   
    </script>
  </body>
</html>