<body class="bg-body text-white">
    <div class="grid grid-cols-6 py-4">
        <div class="col-start-3 col-span-2">
          <%- include("header.ejs") %>
          <p>Welcome to the To-Do manager</p>
          <p class="py-2">
            New here? <a href="/signup" class="text-green-600">Sign-up now</a>
          </p>
          <p class="py-2">
            Already have an account?
            <a href="/login" class="text-green-600">Sign-in</a>
          </p>
        </div>
        <div class="col-start-3 col-span-2 m-auto">
          <%- include("footer.ejs") %>
        </div>
      </div>
</body>