<header class="nav bg-nav text-white sticky top-0 z-50">
  <nav class="relative px-2 py-4">
    <div class="container mx-auto flex justify-between">
      <ul class="hidden md:flex space-x-6 ml-20 mt-2">
      
      <a href="/home" class="bg-red-400 boder-2 px-6 py-2 rounded-3xl hover:bg-red-500 text-white">Online Voting Platform
      </a>
          <%- include("../elections/electionNew") %>
      </ul>
      <li class="flex relative group mt-2">
        <a
          href="#"
          class="mr-1 bg-red-400 boder-2 px-6 py-2 rounded-3xl hover:bg-red-500 text-white"
          ><i class="fa fa-chevron-circle-down"></i> Welcome! <%= username %> </a
        >
        <!-- Submenu starts -->
        <ul
          class="absolute bg-white p-3 text-center w-32 top-6 mt-3 ml-7 transform scale-0 group-hover:scale-100 transition duration-150 ease-in-out origin-top shadow-lg"
        >
        <a href="profile">
          <li class="text-sm hover:bg-slate-100 leading-8 text-black">
              profile

            </li>
            </a>
            <hr />
            <a href="/signout">
          <li class="text-sm hover:bg-red-100 leading-8 text-black">
              Sign out
            </li>
          </a>
        </ul>
        <!-- Submenu ends -->
      </li>
      
    </div>
  </nav>
</header>
