<div class="rounded border w-1/2 mx-auto mt-4">
    <!-- Tabs -->
    <ul id="tabs" class="inline-flex pt-2 px-1 w-full border-b">
      <li class="px-4 text-white hover:text-gray-800 hover:bg-white font-semibold py-2 rounded-t"><a id="default-tab" href="">Create Questions</a></li>
      <li class="px-4 text-white hover:text-gray-800 hover:bg-white font-semibold py-2 rounded-t"><a href="/option">Create Options</a></li>
      <li class="bg-white px-4 text-gray-800 font-semibold py-2 rounded-t border-t border-r border-l -mb-px"><a href="voter">Create Voters</a></li>
    </ul>
  
    <!-- Tab Contents -->
    <div id="tab-contents">
      <div id="first" class="hidden p-4">
        
      </div>
      <div id="second" class="hidden p-4">
      </div>
      <div id="third" class="p-4">
        content
      </div>
    </div>
  </div>